*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .main-box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/blurimage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.boox{
    width: 400px;
    height:80px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
} 


.inp-but input{
    width: 300px;
    height: 40px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
    font-size: 15px;
    text-align: left;
}

.inp-but button{
    width: 40px;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color:whitesmoke;
    cursor: pointer;
}

.name-im{
    margin-top: 20px;
    text-align: center;
}

.name-im img{
    width: 215px;
    animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  

.last{
    display: flex;
    gap: 10px;
}

.icoon{
    margin: 20px;
    transition: all 0.4s;
}

.not img{
    width: 200px;
}

.not{
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not h2{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.boxxx{
    display: none;
}


.end{
    width: 350px;
    height: 155px;
    display: flex;
    margin-top: 15px;
    align-content: center;
    padding: 10px;
    justify-content: flex-start;
    /* overflow-x: hidden; */
    overflow-x: scroll;
    gap: 20px;
}

.main-box h1{
    font-size: 25px;
}

.last{
    background-image: linear-gradient(to bottom, transparent 50%,  #0003  50%);
    width: 68px; 
    font-size: 12px;
    height: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.one{
    background-color: #48567B; 
    box-shadow: 2px 2px 10px #48567B;
}

.two{
    background-color: #B56291;
    box-shadow: 2px 2px 10px #B56291;
}

.three{
    background-color: #f78a55;
    box-shadow: 2px 2px 10px #f78a55;
}

.four{
    background-color: #7b4848; 
    box-shadow: 2px 2px 10px #7b4848;
}

.five{
    background-color: #48787b; 
    box-shadow: 2px 2px 10px #48787b;
}

.main-box h1{
    margin-bottom: 20px;
    text-decoration: underline;
}

.last:hover{
    scale: 1.1;
}

.last:hover .icoon{
    scale: 1.1;
}

@media screen and (max-width:550px) and (min-width:320px){
    .boox{
        width: 300px;
       background: rgba(255, 255, 255, 0.1);
       backdrop-filter: blur(30px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
    } 

    .end{
        width: 290px;
        height: 155px;
        display: flex;
        margin-top: 15px;
        align-content: center;
        padding: 10px;
        justify-content: flex-start;
        overflow-x: scroll;
        gap: 20px;
    }

    .inp-but input{
        width: 200px;
        height: 40px;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: whitesmoke;
        border: none;
        font-size: 15px;
        text-align: left;
    }
    
}